.bg {
    background-color: #67879B;
}
.flex-container{
  display: flex;
   flex-flow: row wrap;
  justify-content: space-around;
}
.button { 
  background-color: #67879B; color: #FFFFFF;
}
.text {
  color: #FFFFFF;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}